body{
        margin:0px;
        font-family: 'Dancing Script', cursive;
        font-size:20px;
        background-image: url("./bookimages/bgimg.jpg");
        background-repeat:no-repeat;
        background-size: cover;
        color:purple;
     
}
.header{
        display:flex;
}

.img-header{
        margin:15px 5px 5px 15px;
        
}
     
.main-head{
        font-family: 'Dancing Script', cursive;
        position:relative;
        margin-left:7px;
        margin-right:47%;
        font-size: 40px;
        font-weight: bolder;
      
}

.nav-bar{
        float:right;
        margin-top: -30px;
           
}
a{
        text-decoration:none;
        font-weight: bolder;
        font-size: 28px;
        padding:0.7em; 
        color:purple;
       
       
}
.main-img1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:20%;
        border: 10px solid #9b5789;
        border-radius: 20px;
}
h2{
       text-align:center;
       font-family: 'Dancing Script', cursive;
       font-size: 30px;
       font-weight: bold;  
       /*background-image: linear-gradient(to bottom left, #e9e1e7, #cc7fb6);*/
       
}
.container{
       
        padding: 20px; 
       
}
.quote{
        font-family:'Dancing Script', cursive;;
        font-size: 30px;
        background-image: linear-gradient(#883789,#7ba9d1);
        color:#e9e1e7;

        
}
.category{
        display:flex;
        flex-wrap: wrap;
        margin-left: auto;
        padding:15px 5px;
        background-image: linear-gradient(#b078b1,#ace0ea)  
        
        
}
.book-img{
        width: 23.33%;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
}
.stars{
        height:80px;
}
.form-class{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        
        border-radius: 15px ;
      
}

input[type="submit"] {
        /* Apply desired styles */
        background-color: #b398d2;
        color: rgb(39, 14, 14);
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
#login-sec{
        width: 400px;
        overflow: hidden;
        padding: 20px;
        background-image: linear-gradient(#bc85be,#7ba9d1);;
        border-radius: 15px ;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        
}
.google-btn {
        background-image: linear-gradient(#a849a8,#723cbc);
        text-align: center;
        color: white;
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 4px;
        margin: 5px 0;
        opacity: 0.85;
        display: inline-block;
        font-size: 20px;
        line-height: 10px;
        text-decoration: none;
      }
.gallery{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width:60%;
        border: 15px solid #d793c4;
        border-radius: 20px;
}
@media screen and (max-width: 768px) {
        .book-img {
          width: 50%;
        }}
      
 @media screen and (max-width: 480px) {
        .book-img {
          width: 100%;
        }
      }

      
footer{
        padding: 10px 10px;
        background: #984b82;
        color: white;
        text-align:center;
        align-items: center;
}
      

